{% extends 'base.html.twig' %}

{% block title %}Welcome to Appointment Management{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome to Appointment Management!</h1>
        <p class="lead text-muted">Your one-stop solution for managing all your appointments efficiently.</p>
        <div class="alert alert-info mt-4">
            <p>This friendly message is coming from:</p>
            <ul class="list-group">
                <li class="list-group-item">Your controller at <code>C:/xampp/htdocs/HealthBook/src/Controller/AppointmentController.php</code></li>
                <li class="list-group-item">Your template at <code>C:/xampp/htdocs/HealthBook/templates/appointment/index.html.twig</code></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
