{% extends 'base.html.twig' %}

{% block title %}Appointment List{% endblock %}

{% block body %}
    <h1>Appointment List</h1>
    <ul>
        {% for appointment in appointments %}
            <li>
                <a href="{{ path('appointment_view', {id: appointment.id}) }}">
                    Appointment on {{ appointment.date|date('Y-m-d H:i') }} with Dr. {{ appointment.doctor.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
